﻿$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 40, 50, 60, 100);

@mixin transition($secs) {
    -moz-transition: all $secs ease-in-out;
    -o-transition: all $secs ease-in-out;
    -webkit-transition: all $secs ease-in-out;
    transition: all $secs ease-in-out;
}
@mixin pos-cover {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin center-vert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin generate-margin-bottom() {
  @each $space in $spaceamounts {
    .mb-#{$space} {
      margin-bottom: #{$space}px !important;
    }
  }
}
@mixin generate-margin-right() {
  @each $space in $spaceamounts {
    .mr-#{$space} {
      margin-right: #{$space}px !important;
    }
  }
}
@mixin generate-margin-left() {
  @each $space in $spaceamounts {
    .ml-#{$space} {
      margin-left: #{$space}px !important;
    }
  }
}
@mixin generate-margin-top() {
  @each $space in $spaceamounts {
    .mt-#{$space} {
      margin-top: #{$space}px !important;
    }
  }
}
@mixin generate-padding-top() {
  @each $space in $spaceamounts {
    .pt-#{$space} {
      padding-top: #{$space}px !important;
    }
  }
}
@mixin generate-padding-bottom() {
  @each $space in $spaceamounts {
    .pb-#{$space} {
      padding-bottom: #{$space}px !important;
    }
  }
}
@mixin generate-padding-left() {
  @each $space in $spaceamounts {
    .pl-#{$space} {
      padding-left: #{$space}px !important;
    }
  }
}
@mixin generate-padding-right() {
  @each $space in $spaceamounts {
    .pr-#{$space} {
      padding-right: #{$space}px !important;
    }
  }
}
@mixin generate-padding-top-mobile() {
  @each $space in $spaceamounts {
    .pt-mob-#{$space} {
      padding-top: #{$space}px !important;
    }
  }
}
@mixin generate-padding-bottom-mobile() {
  @each $space in $spaceamounts {
    .pb-mob-#{$space} {
      padding-bottom: #{$space}px !important;
    }
  }
}
