﻿@media screen and (max-width:2000px) {

}

@media screen and (max-width:1200px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width:992px) {

}

@media screen and (max-width:768px) {

}

@media screen and (max-width:600px) {

}

@media screen and (max-width:400px) {

}
