// Colours
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 17%) !default; // #222
$gray-dark:              lighten($gray-base, 23%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$lightest:               lighten($gray-base, 100%) !default; // #fff

$brand-primary:         #00a19a !default;
$brand-secondary:       #9e032f !default;
$brand-info:            #0384ce !default;              
$brand-dark:            #292426 !default;
$brand-cta:             #f36115 !default;
$brand-success:         #27ae60 !default;
$brand-warning:         #EB7B59 !default;
$brand-danger:          #CF4647 !default;
